/.minecraft/saves/*
/.minecraft/logs/*
/.minecraft/dashloader-cache/*
/.minecraft/mods/*
/.minecraft/screenshots/*
/.minecraft/schematics/*
/.minecraft/crash-reports/*
/.minecraft/.cache/*
/.minecraft/usercache.json
/.minecraft/usernamecache.json
*.mrpack